@import './squares.scss';
@import '../colors';

.chess-board-page {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    min-height: 100vh;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 8%;
        height: 0;
        background-color: $bs-gold;
        transition: height 1s;
    }
    
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 20%;
        width: 8%;
        height: 0;
        background-color: $bs-gold;
        transition: height 1s;
    }

    &::before {
        z-index: 1;
        height: 100%;

        transform: skewX(-35deg);
        transform-origin: bottom right;
    }

    &::after {
        z-index: 1;
        height: 100%;

        transform: skewX(-35deg);
        transform-origin: top left;
    }

    @media (max-width: 1120px) {
        &::before { left: 40%; }
        &::after { right: 30%; }
        &::before, &::after { transform: skewX(-16deg); }
    }

    @media (max-width: 900px) {
        & { 
            display: flex;
            flex-direction: column; 
            justify-content: center;
            align-items: center;
        }

        &::before { left: 40% }
        &::after { right: 30% }
        &::before, &::after { transform: skewX(-10deg) }
    }

    @include LoadingSpinner;
    
    .chess-board-template {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        margin: 0 auto;
        width: fit-content;
        height: auto;
    
        z-index: 2;

        .chess-board {
            position: relative;

            display: flex;
            justify-content: center;
            align-items: center;

            width: 100%;
            height: 100%;

            .row {
                @include squares;
                
                .piece {
                    width: $width;
                    height: $height;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 60px;

                    @media (max-width: 700px) {
                        width: $phone-width;
                        height: $phone-height;
                        background-size: 40px;
                    }
                }
    
                .highlight-square::before {
                    content: "";
                    display: block;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: rgba(0, 0, 0, 0.4);
                    transform: translate(112%, 114%);
                }
    
                .black::before,
                .white::before {
                    content: "";
                    display: block;
                    width: $width;
                    height: $height;
                    border-radius: 50%;
                    border: 3px solid rgba(53, 53, 53, 0.952);
                }

                @media (max-width: 500px) {
                    .highlight-square::before {
                        width: 15px;
                        height: 15px;
                    }
        
                    .black::before,
                    .white::before {
                        width: $phone-width;
                        height: $phone-height;
                    }
                }
            }
        }

        @media (max-width: 500px) {
            & {
                margin-top: 1rem;
            }
        }
    }
}