
$width: 62px;
$height: 62px;
$phone-width: 47px;
$phone-height: 47px;
$phone-siz: 40px;

@mixin squares {
    .white-square,
    .lightskyblue-square,
    .lightgreen-square,
    .green-square,
    .brown-square,
    .purple-square,
    .black-square {
        width: $width;
        height: $height;
    }
    
    @media (max-width: 700px) {
        .white-square,
        .lightskyblue-square,
        .lightgreen-square,
        .green-square,
        .brown-square,
        .purple-square,
        .black-square {
            width: $phone-width;
            height: $phone-height;
        }
    }

    .white-square {
        background-color: #eeeed2;
    }
        
    .lightgreen-square {
        background-color: rgba(46, 182, 46, 0.979);
    }
        
    .green-square {
        background-color: #769656;
    }
    
    .lightskyblue-square {
        background-color: #05468bf8;
    }
    
    .brown-square {
        background-color: rgb(165, 87, 42);
    }
    
    .purple-square {
        background-color: rgba(88, 4, 88, 0.986);
    }
    
    .black-square {
        background-color: rgba(37, 37, 37, 0.986);
    }
}